.App {
  text-align: center;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 10vh 4fr 2fr;
}

.App > h1 {
  grid-row-start: 1;
  grid-column: 1 / span 2;
  text-align: center;
  /*margin-left: 15vw;*/
}

.board-view {
  /*min-width: 60%;*/
  width: fit-content;
  margin: auto;
  grid-row-start: 2;
}

.in-play-tiles {
  grid-row-start: 3;
  grid-column: 1;
}

.player-info {
  /*margin-right: 10vw;*/
  text-align: left;
}

.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px black solid;
  margin: auto 0.1rem;
  overflow: hidden;
}

#row7 > #cell7 {
  background-color: red;
}

.selected-letter {
  background-color: rgba(28, 227, 107, 0.3);
}

.placed-letter {
  display: none;
}
