.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px black solid;
  margin: 0.2rem 0.2rem;
  overflow: hidden;
}

#row7 > #cell7 {
  background-color: red;
}

.selected-letter {
  background-color: rgba(28, 227, 107, 0.3);
}

.placed-letter {
  display: none;
}
